
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

header, footer {
  background: rgb(25, 26, 52);
  color: white;
  padding: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

main {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  width: 100%;
}

#left-panel {
  width: 200 px;
  background: rgb(50, 45, 45);
  color: white;
  padding: 20px;
}

#right-panel {
  padding: 40px;
  background: rgb(47, 52, 81);
  color: white;
  flex: 1;
}

#right-panel p {
  width: 400px;
}

#right-panel iframe {
  display: block;
}

#left-panel a {
  display: block;
  color: rgb(255, 255, 194);
}

#left-panel a:visited {
  color: rgb(134, 212, 196);
}
